#about .h1  {
	font-family: 'Oswald';
	font-weight: 300;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #0c2e72;
	padding: 0;
	border-bottom: 3px solid #9BB7F1;
	display: inline-block;
}

#consultation .h1  {
	font-family: 'Oswald';
	font-weight: 300;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #0c2e72;
	padding: 0;
	border-bottom: 3px solid #9BB7F1;
	display: inline-block;
}

#testimonials .h1  {
	font-family: 'Oswald';
	font-weight: 300;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #0c2e72;
	padding: 0;
	border-bottom: 3px solid #9BB7F1;
	display: inline-block;
}

#contact .h1  {
	font-family: 'Oswald';
	font-weight: 300;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #0c2e72;
	padding: 0;
	border-bottom: 3px solid #9BB7F1;
	display: inline-block;
}
